.img_div{
    margin-top: 5%;
    width:300px;
    height:340px;
    border: 1px solid red;
    margin-left: 6%;
    display: inline-block;
}
.img{
    width:300px;
    height: 260px;
}
#title{
    margin-left: 15px;

}
